<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.common.point.dao.mapper.UserMapper">

    <select id="selectPUserList" resultType="com.common.point.model.dto.PUser">
        SELECT user_no, user_name
        FROM p_user
    </select>

    <select id="insertPUser" parameterType="java.lang.String" resultType="java.lang.Integer">
        INSERT INTO p_user (user_name)
        VALUES (#{userName})
        RETURNING user_no;
    </select>

    <delete id="deleteAllUsers">
        DELETE
        FROM p_user;
    </delete>


</mapper>
